.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.spinner {
    width: 3rem;
    height: 3rem;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: var(--primary);
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.dark .spinner {
    border-top-color: var(--primary-light); }