.selectContainer {
    margin-bottom: 1rem;
    width: 100%;
}

.label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    text-align: right;
}

.requiredIndicator {
    color: #f44336;
    margin-right: 0.25rem;
}

.select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    background-color: white;
    transition: border-color 0.3s;
    font-family: 'VazirMatn';
}

.select:focus {
    outline: none;
        border-color: #3b82f6;
        /* آبی */
        box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}

.select:disabled {
    background-color: #f5f5f5;
    cursor: not-allowed; 
}

.select option {
    font-family: 'VazirMatn';
}